.product-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 16px;
  flex-wrap: wrap;
}

.product-form .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-form label {
  margin-bottom: 4px;
  font-weight: 500;
}

.product-form input {
  padding: 8px 10px;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.2s ease;
  width:auto;
}

.product-form input:focus {
  outline: none;
  border-color: #888;
}

.product-form > .buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 12px;
}

.product-form-wrapper .error-message {
  color: #d32f2f;
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;
}

@container productFormContainer (max-width: 650px) {
  .product-form {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }
}